.main-heading-container {
  padding: 10px;
}
.main-heading {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 28px;
  color: black;
  text-align: center;
}
.repos-card {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: 10px;
  padding: 10px;
  background-color: #d3d3d3;
}
.sub-card-1 {
  border: 1px;
  border-style: solid;
  border-radius: 10px;
  height: 100px;
  width: 100px;
}
.avatar-image {
  height: 60px;
  width: 60px;
}
.sub-card-2 {
  display: flex;
  padding: 10px;
}
.mini-card-1 {
  display: flex;
}
.mini-card-heading {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 22px;
  color: black;
}
.mini-card-para {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 18px;
  color: black;
}
.mini-card-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.mini-card-description-container {
  border: 1px;
  border-style: solid;
  border-radius: 10px;
  height: 40px;
  width: 40px;
}
.mini-card-description {
  font-family: 'Roboto';
  font-size: 12px;
}
